<% var user_id, user_data, message, vhf1, vhf2 %>

<!DOCTYPE html>
<html oncontextmenu="return false">
<head>

</head>
<body class="bgGray0">
    <div class="container-fluid">
        <div class="row minH100">
            <div class="col-lg-6">
                <div class="midDiv padP5 txtCenter">
                    <h1 class="txtLeft ssh1" style="color: #18477e;">เว็บ NodeloginX</h1>
                    <h4 class="txtLeft ssh4" style="color: #18477e;">TEMPORARY</h4>

                    <form action="/checkForget" method="post"  <%=vhf1%>>
                        <fieldset class="txtLeft fieldbox">
                            <legend>ลืมรหัสผ่าน</legend>
                            <small style="color: #1b4e88; display: block; margin-bottom: 16px;">หากคุณเป็นสมาชิกในเว็บไซต์นี้ โปรดใส่รหัสผู้่ใช้ของคุณเพื่อตรวจสอบ</small>
                            รหัสผู้ใช้ (User Name)
                            <input name="user_username" type="text" class="block100p br2 marb8" value="<%=user_name%>" required>
                            <% if (message) { %>
                                <span class="f400" style="color: red; display: block;"><i class="fas fa-exclamation-circle"></i> <%- message %></span>
                            <% } %>
                            <br>
                            <button type="submit" class="btn_Main br50 block100p mart12 marb15">ยืนยัน</button>

                            <a href="/checklogin" class="btn_Second br50 block100p marb15">เข้าสู่ระบบ</a>
                        </fieldset>
                    </form>

                    <div  <%=vhf2%>>
                        <fieldset class="txtLeft fieldbox">
                            <legend>ลืมรหัสผ่าน</legend>
                            <p class="txtCenter"><%- message %></p>
                            <br>
                            <a href="/checklogin" class="btn_Second br50 block100p marb15">เข้าสู่ระบบ</a>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>